.thankcard-container{
    align-items: center;
    justify-content: center;
    display: none;
}

.thankcard-container p{
    text-align: center;
}

.selected-count{
    background-color: #262E38;
    border-radius: 22.5px;
    color: #FC7614;
    font-size: 0.9rem;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    padding: 2px 16px 2px 16px;
}